{% extends 'base.html.twig' %}

{% block title %}Home — SymBlog{% endblock %}

{% block body %}
    <h1>SymBlog</h1>

    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.createdAt|date('d/m/Y') }}</p>
            <a href="{{ path('app_post_show', {slug: post.slug}) }}">Leggi</a>
        </div>
    {% endfor %}
{% endblock %}